@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&family=Roboto:wght@400;500&display=swap');

:root {
  --header-height: 3rem;
  --first-color: #080d13;
  --first-color-light: #0053a7;
  --first-color-dark: #004386;
  --gray-color: #323235;
  --gray-color-white: #a4a5a6;
  --white-color: #ffffff;
  --primary-font: 'Poppins';
  --secundary-font: 'Roboto';
  --big-font-size: 3.875rem;
  --normal-font-size: 1.125rem;
  --z-fixed: 100;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 3rem 0 0 0;
  padding: 0;
  font-family: var(--primary-font);
}

h1,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--first-color);
}

.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 830px) {
  .nav_logo {
    margin-left: 137px;
    width: 40%;
  }
  .nav_menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    padding: 3.5rem 1.5rem 0;
    background: #28292b;
    backdrop-filter: blur(10px);
    transition: 0.5s;
  }
}

.nav_close {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  cursor: pointer;
}

.nav_item {
  margin-bottom: 2rem;
}

.nav_close,
.nav_link,
.nav_logo,
.nav_toggle {
  color: #a4a5a6;
  transition: 0.2s;
}

.nav_link:hover {
  color: var(--white-color);
}

.show {
  right: 0;
}

.home {
  background-color: var(--first-color);
  overflow: hidden;
}

.home_container {
  height: calc(100vh - 3rem);
  grid-template-rows: repeat(2, max-content);
  row-gap: 1.5rem;
}

.home_img {
  position: relative;
  padding-top: 1.5rem;
  justify-self: center;
  width: 302px;
  height: 233px;
}

.home_img img {
  position: absolute;
  top: 0;
  left: 0;
}

.home_data {
  color: var(--white-color);
}

.home_title {
  font-size: var(--big-font-size);
  line-height: 1.3;
  margin-bottom: 1rem;
  font-weight: 500;
}

.home_description {
  margin-bottom: 2.5rem;
  line-height: 1.6;
  font-family: var(--secundary-font);
  font-weight: 400;
  font-size: var(--normal-font-size);
  color: rgba(255, 255, 255, 60%);
}
.home_text {
  margin-top: 90px;
  font-family: var(--secundary-font);
  font-weight: 400;
  font-size: var(--normal-font-size);
  color: rgba(255, 255, 255, 60%);
}

.home_buy {
  display: inline-block;
  background-color: var(--first-color-light);
  color: var(--white-color);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-weight: 700;
  transition: 0.3s;
}

.home_buy:hover {
  background-color: var(--first-color-dark);
}

.home_learn {
  display: inline-block;
  background-color: var(--first-color);
  border: solid 2px var(--first-color-dark);
  color: var(--first-color-light);
  padding: 0.965rem 2rem;
  margin-left: 30px;
  border-radius: 0.5rem;
  font-weight: 700;
  transition: 0.3s;
}

.home_learn:hover {
  color: var(--white-color);
  background-color: var(--first-color-dark);
}

@media (prefers-color-scheme: light) {
  .header {
    background-color: var(--gray-color);
  }
  .home {
    background-color: var(--white-color);
  }
  .home_title {
    color: var(--first-color);
  }
  .home_text,
  .home_description {
    color: var(--gray-color);
  }
  .home_learn {
    background-color: var(--white-color);
  }
}

@media screen and (min-width: 830px) {
  body {
    margin: 0;
  }

  .nav {
    height: calc(3rem + 1.5rem);
  }

  .nav_toggle,
  .nav_close {
    display: none;
  }

  .nav_list {
    display: flex;
    position: relative;
    right: 270px;
  }

  .nav_item {
    margin-left: 3rem;
    margin-bottom: 0;
  }

  .home_container {
    height: 100vh;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: 1fr;
    row-gap: 0;
    align-items: center;
    justify-content: center;
  }

  .home_img {
    order: 1;
    width: 375px;
    height: 289px;
  }

  .home_img img {
    width: 375px;
  }
}

@media screen and (min-width: 1024px) {
  .grid {
    margin-left: auto;
    margin-right: auto;
  }

  .home_container {
    justify-content: initial;
    column-gap: 4.5rem;
  }

  .home_img {
    width: 204px;
    height: 366px;
  }

  .home_img img {
    margin-top: -60px;
    margin-left: 200px;
    width: 204px;
  }
}
