:root {
  --first-color: #080d13;
  --first-color-light: #0053a7;
  --first-color-dark: #004386;
  --gray-color: #323235;
  --gray-color-white: #a4a5a6;
  --white-color: #ffffff;
  --primary-font: 'Poppins';
  --secundary-font: 'Roboto';
  --description-color: rgba(255, 255, 255, 60%);
  --big-font-size: 62px;
  --normal-font-size: 18px;
  --font-weigth-title: 500;
  --font-weigth-text: 400;
  --z-fixed: 100;
}

/* CSS RESET */
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 3rem 0 0 0;
  padding: 0;
  font-family: var(--primary-font);
  background-color: var(--first-color);
}

h1,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* CSS COMPONENTS */
.grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--first-color);
}

/* NAV */
.header div:first-child {
  margin: 0 auto;
}

.nav {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 886px) {
  .nav_logo {
    width: 65%;
  }
  .nav_menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    padding: 3.5rem 1.5rem 0;
    background: #28292b;
    transition: 0.5s;
  }
}

.nav_close {
  position: absolute;
  top: 12px;
  right: 16px;
}

.nav_item {
  margin-bottom: 2rem;
}

.nav_close,
.nav_link,
.nav_logo,
.nav_toggle {
  color: #a4a5a6;
  transition: 0.2s;
}

.nav_link:hover {
  color: var(--white-color);
}

.show {
  right: 0;
}

/* HOME */
.home {
  background-color: var(--first-color);
  overflow: hidden;
}

.home_container {
  height: calc(100vh - 48px);
  grid-template-rows: repeat(2, max-content);
  row-gap: 24px;
}

.home_img {
  position: relative;
  padding-top: 1.5rem;
  justify-self: center;
  width: 302px;
  height: 233px;
}

.home_img img {
  position: absolute;
  inset: 0;
}

.home_data {
  color: var(--white-color);
}

.home_title {
  font-size: var(--big-font-size);
  line-height: 1.3;
  margin-bottom: 1rem;
  font-weight: var(--font-weigth-title);
}

.home_description {
  margin-bottom: 2.5rem;
  line-height: 1.6;
  font-family: var(--secundary-font);
  font-weight: var(--font-weigth-text);
  font-size: var(--normal-font-size);
  color: var(--description-color);
}

.home_description_2 {
  margin-bottom: 2.5rem;
  line-height: 1.6;
  font-family: var(--secundary-font);
  font-weight: var(--font-weigth-text);
  font-size: var(--normal-font-size);
  color: var(--description-color);
}

.home_text {
  margin-top: 5.625rem;
  font-family: var(--secundary-font);
  font-weight: var(--font-weigth-text);
  font-size: var(--normal-font-size);
  color: var(--description-color);
}

.home_buy {
  display: inline-block;
  background-color: var(--first-color-light);
  color: var(--white-color);
  font-weight: var(--font-weigth-title);
  padding: 1rem 2rem;
  border-radius: 8px;
  transition: 0.3s;
}

.home_buy:hover {
  background-color: var(--first-color-dark);
}

.home_learn {
  display: inline-block;
  background-color: var(--first-color);
  border: solid 0.1625rem var(--first-color-dark);
  color: var(--first-color-light);
  font-weight: var(--font-weigth-title);
  padding: 0.975rem 2rem;
  margin-left: 1.875rem;
  border-radius: 8px;
  transition: 0.3s;
}

.home_learn:hover {
  color: var(--white-color);
  background-color: var(--first-color-dark);
}

/* DARK MODE */
@media (prefers-color-scheme: light) {
  body {
    background-color: var(--white-color);
  }
  .header {
    background-color: var(--gray-color);
  }
  .home {
    background-color: var(--white-color);
  }
  .home_title {
    color: var(--first-color);
  }
  .home_text,
  .home_description,
  .home_description_2 {
    color: var(--gray-color);
  }
  .home_learn {
    background-color: var(--white-color);
  }
}

/* MEDIAS QUERIES */
@media screen and (max-width: 886px) {
  .nav_logo {
    margin-left: 1.875rem;
  }
  .home_img {
    top: 20px;
    width: 150px;
    height: 150px;
  }
  .home_img img {
    left: -30px;
    width: 200px;
  }
  .home_data {
    position: absolute;
    top: 320px;
  }
  .home_text {
    font-size: 0.975rem;
    text-align: left;
  }
  .home_title {
    font-size: 1.6rem;
    text-align: left;
  }
  .home_description,
  .home_description_2 {
    position: relative;
    font-size: 0.975rem;
    text-align: left;
  }
  .home_description_2 {
    top: -30px;
  }
  br {
    display: none;
  }
  .home_buy,
  .home_learn {
    top: -40px;
    position: relative;
    padding: 0.6rem 1.5rem;
  }
}

@media screen and (min-width: 887px) {
  body {
    margin: 0;
  }

  .nav_toggle,
  .nav_close {
    display: none;
  }

  .header div:first-child {
    margin: 0;
  }

  .nav {
    height: calc(3rem + 1.5rem);
  }

  .nav_list {
    display: flex;
    position: relative;
    right: 270px;
  }

  .nav_item {
    margin: 0 0 0 3rem;
  }

  .home_container {
    height: 100vh;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: 1fr;
    row-gap: 0;
    align-items: center;
    justify-content: center;
  }

  .home_img {
    order: 1;
    top: -70px;
    width: 300px;
    height: 300px;
  }

  .home_img img {
    width: 320px;
  }
}

@media screen and (min-width: 1000px) {
  .grid {
    margin: 0 auto 0 auto;
  }

  .home_container {
    justify-content: initial;
    column-gap: 72px;
  }

  .home_img {
    inset: -70px 0 0 80px;
    width: 300px;
    height: 300px;
  }

  .home_img img {
    width: 320px;
  }
}
